.menu__movil
    a(href="index.html").menu__movil__main
        img#imageMenu(src="./images/logoahcaballo.png", alt="logo")
    i.fa.fa-bars.fa-2x#iconMenu.iconMenu

ul.menu#mymenu 
    li.menu__item.active(data-menuanchor='inicio')
        a.menu__item__link(href="#inicio") inicio 
    
    li.menu__item(data-menuanchor='eventos')
        a.menu__item__link(href="#eventos") eventos
    
    li.menu__item(data-menuanchor='lugar ')
        a.menu__item__link(href="#lugar") lugar 
    
    li.menu__item(data-menuanchor='invita')
        a.menu__item__link(href="#invita") invita
    
    li.menu__item(data-menuanchor='contacto')
        a.menu__item__link(href="#contacto") contacto


